*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
/* home */
.hero{
    height: 100vh;
    width: 100%;
    background-color: white;
    background-position: center;

}
nav{
   display: flex;
   align-items: center; 
   justify-content: space-between ;
   padding-top: 45px;
   padding-left: 8%;
   padding-right: 8%;
}
.logo{
    color: black;
    font-size: 35px;
    letter-spacing:  1px;
    cursor: pointer;
}

nav  ul li{
    list-style-type: none;
    display: inline-block;
    padding:  10px 25px;
}
nav  ul li a{
     color: #000000;
     text-decoration: none;
     font-weight: bold;
     text-transform: capitalize;
}
nav  ul li a:hover{
    color: #8293f5;
    transform: .4s;
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: #2700C2;
    margin: 20px 0px 20px;
    font-size: 70px;  
 }
 h4{
     color: #4114F1;
     letter-spacing: 2px;
     font-size: 25px;
     font-weight: lighter;
 }
 .newsletter{
    position: relative;
    text-transform: capitalize;
    font-family: poppins;
 }
.btn-hire , .btn-see{
    display: inline-block;
    text-decoration: none;
    margin-top: 40px;
    margin-left: auto;
    font-weight: lighter;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn-hire{
    background-color: #4617FF;
    color: white;
    border: 3px solid transparent;
}
.btn-see{
    background-color: #ffffff;
    color: #4617FF;
    border: 2px solid #4617FF;
}
.btn-hire:hover,.btn-see:hover{
    transform:  scale(1.2);
}